.block{
    width: 150px;
    height: 150px;
    background: linear-gradient(to top, #333 0%,#666 33%,#333 100%);
    box-shadow: inset 2px 2px 5px 2px #333;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    color: #fff;

}
h3{
    font-size:18px;
    font-family: Arial;
    color: white;
    text-align: center;
}
.vertical{
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.vertical input{
    transform: rotate(90deg);
    width: 75px;
} 
.vertical label{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.horizontal{
    width: 100px;
    margin: 0 auto;

}
.horizontal input{
    width: 100px;

}
.horizontal label{
    display: flex;
    
    width: 100px;
    justify-content: space-between;

}
.center{
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ok-id{
    margin-top: 10px;

}
.colour{
   
    width: 100px;
    align-items: center;
    justify-self: center;
    margin: 40px auto 0;
    display: flex;
}
.colour input{
    width: 80px;
}
#hex-id{
    margin-left: 5px;
}
.rgba-block{
    width: 100px;
    margin: 0 auto;
}
.rgba-block input{
    width: 75px;

}
.container{
    margin-top: 20px;
    position: relative;
}
#block{
    width: 150px;
    height: 150px;
    background-color: #f20;
    position: absolute;
    left: 0;
    right: 0;
}